.hero{
    width: 100vw;
    height: 100vh;
    max-width:100%;
    background-color: rgb(218, 218, 218);
    margin: 0;
    padding: 0;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1{
    font-family: 'Ryujin Attack', sans-serif;
    font-size: 8em !important;
    color: rgb(50, 50, 50);
  
}

@media  (min-width:700px) {
    h1{
        font-size: 14em !important;
        color: rgb(33, 33, 33);
    }
}

